
<head>
<body>
<div class="word" char={{letters}} placeholder="word">Word</div>

<span class="characters" char={{letters}} placeholder="input">Characters</span>

<button>Guess</button>
</body>
</head>


