<input class="word" input type="text" char={{letters}} placeholder="word">Word</input>

<div id="characters">
<span class="character"input type="text" char={{letters}} placeholder="input">Characters</span>
</div>

<button>Guess</button>


