<input class="word" input type="text" char={{letters}} placeholder="word">Word</input>
<div id="characters">
<span class="character"input type="text" char={{letters}} placeholder="input">Characters</span>
</div>

<button>Guess</button>

<div id="characters">
	<span class="character" char="A">A</span>
	<span class="character" char="B">B</span>
	<span class="character" char="C">C</span>
	<span class="character" char="D">D</span>
	<span class="character" char="E">E</span>
	<span class="character" char="F">F</span>
	<span class="character" char="G">G</span>
	<span class="character" char="H">H</span>
	<span class="character" char="I">I</span>
	<span class="character" char="J">J</span>
	<span class="character" char="K">K</span>
	<span class="character" char="L">L</span>
	<span class="character" char="M">M</span>
	<span class="character" char="N">N</span>
	<span class="character" char="O">O</span>
	<span class="character" char="P">P</span>
	<span class="character" char="Q">Q</span>
	<span class="character" char="R">R</span>
	<span class="character" char="S">S</span>
	<span class="character" char="T">T</span>
	<span class="character" char="U">U</span>
	<span class="character" char="V">V</span>
	<span class="character" char="W">W</span>
	<span class="character" char="X">X</span>
	<span class="character" char="Y">Y</span>
	<span class="character" char="Z">Z</span>
</div>
